%body.white-background
%p#notice= notice

.row.center-xs
  .col-xs-7
    .box.text-left
      .col.s12
        .row
          %div.input-field.col.s6
            %p.line
              %b Admin:
              = @evaluation.admin.name

          %div.input-field.col.s6
            %p.line
              %b User:
              = @evaluation.user.name + " " + @evaluation.user.firs_last_name + " " + @evaluation.user.second_last_name

          %div.input-field.col.s12
            %p
              %b Comments:
              = simple_format(@evaluation.comments)

          %div.input-field.col.s12
            %p
              %b Technical skills:
              = simple_format(@evaluation.technical_skills)



          %div.input-field.col.s6
            %p
              %b English level:
              -if @evaluation.english_level <= 3
                = TC::English_level.find(@evaluation.english_level).level
              -else
                = @evaluation.english_level
                \/100


          %div.input-field.col.s6
            %p
              %b Rank global candidate:
              = TC::Rank_candidate.find(@evaluation.rank_global_candidate).rank




          %div.input-field.col.s6
            %p
              %b Candidato potencial:
              = @evaluation.candidato_potencial


          %div.input-field.col.s6
            %p
              %b Assessment:
              = @evaluation.assessment



          

          
      
      
      
      
      

      = link_to 'Edit', edit_evaluation_path(@evaluation)
      \|
      = link_to 'Back', evaluations_path
