<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field col s4">
	<%= f.text_field :name, class:"" , autofocus: true, id:"name" %>
	<%= f.label :nombre, class:"white-text", for:"name" %>
  </div>


  <div class="input-field col s4">
	<%= f.text_field :firs_last_name, class:"", id:"firs_last_name" %>
	<%= f.label :apellido_paterno, class:"white-text", for:"firs_last_name" %>

  </div>


  <div class="input-field col s4">
	<%= f.text_field :second_last_name, class:"", id:"second_last_name" %>
	<%= f.label :apellido_materno, class:"white-text", for:"second_last_name" %>
  </div>


  <div class="input-field col s4">
  	<%= f.email_field :email, class:""  %>
	<%= f.label :email, class:"white-text" %>
  </div>

  <div class="input-field col s4">
  	<%= f.password_field :password, class:"" %>
	<%= f.label :password, class:"white-text" %>
  </div>

  <div class="input-field col s4">
  	<%= f.password_field :password_confirmation, class:"" %>
	<%= f.label :password_confirmation, class:"white-text" %>
  </div>


  <div class="top-space">


	<div class="">
      <div class="col s6">
      	 <%=f.submit "Registrar",class:"mwaves-effect waves-light btn"%>
      </div>
      <div class="col s6">
      	 <%= link_to "Ya tengo cuenta",new_user_session_path,class:"underline"%>
      </div>
    </div>






	</div>

  <% end %>