= form_for @vacante do |f|
  - if @vacante.errors.any?
    #error_explanation
      %h4.text-center= "#{pluralize(@vacante.errors.count, "error")} prohibited this vacante from being saved:"
      %ul.text-center
        - @vacante.errors.full_messages.each do |message|
          %li= message

  .row.center-xs
    .col-xs-9
      .box

        .row
          .col.s12
            .row.text-left
              .div.input-field.col.s6
                = f.text_field :name, autofocus: true, class:"" ,id:"name"
                = f.label :Nombre_vacante, class:"blue-text", for:"name"

              .div.input-field.col.s6
                =f.select :area, TC::Job_area.all.ordenados.collect { |u| [u.job_area, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Area a la que pertenece la vacante



              .div.input-field.col.s6
                = f.text_field :location, class:"" , id:"location"
                = f.label :locación, class:"blue-text", for:"location"


              .div.input-field.col.s6
                =f.select :planta, TC::Plant.all.ordenados.collect { |u| [u.planta, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Planta




              .div.input-field.col.s3 
                =f.select :mes_inicio, TC::Month.all.collect { |u| [u.mes, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Mes de inicio

              .div.input-field.col.s3 
                =f.select :mes_fin, TC::Month.all.collect { |u| [u.mes, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Mes fin

              .div.input-field.col.s6 
                = f.text_field :Name_Hiring_Manager, class:"", id:"Name_Hiring_Manager"
                = f.label :Nombre_Hiring_Manager, class:"blue-text", for:"Name_Hiring_Manager"

              


              .div.input-field.full-width
                = f.text_area :description,id:"textarea1", class:"anchoLetra materialize-textarea"
                = f.label :description, class:"blue-text"

              .div.input-field.full-width
                = f.text_area :missions_role,id:"textarea1", class:"anchoLetra materialize-textarea"
                = f.label :missions_role, class:"blue-text"


              .div.input-field.col.s12
                = f.check_box :occupied, id:"occupied"
                = f.label :ocupado, for:"occupied"

              .div.input-field.col.s12


              .field.ocultar
                = f.label :admin
                = f.text_field :admin


            .actions.top-space2
              = f.submit 'Save', class:"waves-effect waves-light btn full-width"


