

<div class="row center-xs">

	<div class="col-xs-12">

		<div class="box">


			<div class="">
		     <%=form_tag "/search/search_vacantes_Admin", method: :get, remote: true, id:"search-form" do  %>

		      <div class="input-field col s3">
		      	<%=text_field_tag :keywordName, nil, placeholder: "Por nombre vacante", class:"labelBuscador" %>

		      </div>


		      <div class="input-field col s2">
		      	<%= select_tag :keywordArea, options_for_select(TC::Job_area.all.collect.collect{ |u| [u.job_area, u.id] }) ,include_blank: true %>

		      	<label class="">Area</label>
		      </div>


		      <div class="input-field col s3">
		      	<%=text_field_tag :keywordLocation, nil, placeholder: "Por locación", class:"labelBuscador" %>

		      </div>

		       <div class="input-field col s2">
		      	<%= select_tag :keywordOccupied, options_for_select([["true","t"],["false","f"]]) ,include_blank: "" %>
		      	<label>ocupado</label>

		      </div>



		      <div class="input-field col s2">
		      	<button class="waves-effect waves-light btn buttonBuscador" type="submit">Buscar</button>

		      </div>


          	   	  

        	<% end %>
			</div>



		</div>

	</div>

</div>

