

<div class="row left-xs">

	<div class="col-xs-10">

		<div class="box">


			<div class="">
		     <%=form_tag "/search/search_evaluaciones_Admin", method: :get, remote: true, id:"search-form" do  %>

		      <div class="input-field col s2">
		      	<%=text_field_tag :keywordUserName, nil, placeholder: "By name ", class:"labelBuscador" %>
		      </div>

		      <div class="input-field col s2">
		      	<%=text_field_tag :keywordUser_1_lastname, nil, placeholder: "lastname ", class:"labelBuscador" %>
		      </div>

		      <div class="input-field col s2">
		      	<%=text_field_tag :keywordUser_2_lastname, nil, placeholder: "2nd last name", class:"labelBuscador" %>
		      </div>


		      <div class="input-field col s2">
		      	<%= select_tag :keywordGlobalCandidate, options_for_select(TC::Rank_candidate.all.collect{ |u| [u.rank, u.id] }) ,include_blank: true %>

		      	<label class="">Rank</label>
		      </div>


		       <div class="input-field col s2">
		      	<%= select_tag :keywordCandidatoPotencial, options_for_select([["true","t"],["false","f"]]) ,include_blank: "" %>
		      	<label>Candidato potencial</label>

		      </div>



		      <div class="input-field col s2">
		      	<button class="waves-effect waves-light btn buttonBuscador" type="submit">Search</button>

		      </div>


          	   	  

        	<% end %>
			</div>



		</div>

	</div>

</div>

