= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message


  .row.center-xs
    .col-xs-10
      .box

        .row
          .col.s12
            .row.text-left


              .div.input-field.col.s4
                = f.text_field :name, autofocus: true, class:"" ,id:"name"
                = f.label :nombre, class:"blue-text", for:"name"

              .div.input-field.col.s4
                = f.text_field :firs_last_name, class:"", id:"firs_last_name"
                = f.label :apellido_paterno, class:"blue-text" , for:"firs_last_name"

              .div.input-field.col.s4
                = f.text_field :second_last_name, class:"" , id:"second_last_name"
                = f.label :apellido_materno, class:"blue-text" , for:"second_last_name"



              .div.input-field.col.s4
                = f.text_field :phone, class:"" , id:"phone"
                = f.label :telefono, class:"blue-text", for:"phone"

              .div.input-field.col.s4
                =f.select :sexo, @Sexos.map { |u| [u] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Sexo

              .div.input-field.col.s4
                =f.select :university, TC::University.all.ordenados.collect { |u| [u.universidad, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Universidad



              .div.input-field.col.s4
                =f.select :carrer, TC::Carrer.all.ordenados.collect { |u| [u.carrera, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Carrera

              .div.input-field.col.s4
                =f.select :duration_internship, TC::R1_12_range.all.collect { |u| [u.rango, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Duracion de practicas(meses)

              .div.input-field.col.s4
                =f.select :semester, TC::R1_12_range.all.collect { |u| [u.rango, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Semestre



              .div.input-field.col.s4
                =f.date_field :birthdate ,type:"text" , class:"datepicker birthday"
                %label.blue-text Fecha de nacimiento

              .div.input-field.col.s4
                = f.text_field :graduation_year, class:"" , id:"graduation_year"
                = f.label :Año_de_graduacion, class:"blue-text", for:"graduation_year"

              .div.input-field.col.s4
                =f.date_field :disponible_en ,type:"text" , class:"datepicker disponible"
                %label.blue-text Fecha probable de inicio de practica



              .div.input-field.col.s4
                =f.select :estado_residencia, TC::Estado.all.ordenados.collect { |u| [u.estado, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Estado residencia

              /cambiar por una tabla catalogo de 1 a 100
              .div.input-field.col.s4 
                = f.text_field :level_english, class:"" , id:"level_english" 
                = f.label :nivel_ingles_50_a_100, class:"blue-text", for:"level_english"

              .div.col.s4
                %div.file-field.input-field
                  %div.btn
                    %span
                      CV
                    =f.file_field(:CV, class: '')
                  %div.file-path-wrapper
                    %input.file-path.validate



              .div.input-field.col.s4
                =f.select :interest_area1, TC::Job_area.all.ordenados.collect { |u| [u.job_area, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Area de interes 1
              
              .div.input-field.col.s4
                =f.select :interest_area2, TC::Job_area.all.ordenados.collect { |u| [u.job_area, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Area de interes 2

              .div.input-field.col.s4
                =f.select :interest_area3, TC::Job_area.all.ordenados.collect { |u| [u.job_area, u.id] }, include_blank: "", placeholder:"Placeholder"
                %label.blue-text Area de interes 3

              .div.input-field.col.s4
                -if current_admin
                  =f.select :status, TC::Status.all.collect { |u| [u.status, u.id] }, include_blank: "", placeholder:"Placeholder"
                  %label.blue-text Status


              
              
            .actions
              = f.submit 'Save', class:"waves-effect waves-light btn full-width"

              


%br
%br
%br
%br
%br
%br




